<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <header>
      <div class="logo">
         <img width="190"  src="imagenes/logo.jpeg">
      </div>
        
      <div>
         <nav>
            <a href=""  class="link-navegacion">Ofertas</a>
            <a href=""  class="link-navegacion">Tiendas oficiales</a>
            <a href=""  class="link-navegacion">Vender</a>
            <a href=""  class="link-navegacion">Mis compras</a> 
            <a href=""  class="link-navegacion">Ingresá</a>
            <a href=""  class="link-navegacion">Creá tu cuenta</a>
            <a href=""  class="link-navegacion">Ayuda</a>
         </nav>
      </div>
      <div class="container">
        <input type="text" placeholder="Buscar">
            <i class="fa fa search"></i>
      </div>

   </header>

     <main>
         <section>
            <h2>Basado en tu última visita</h2>
            <img width="300" src="imagenes/macbook.jpg">
            <ul>
                <li>$990.000</li>
                <li>15% off</li>
                <li>MacBook Pro 2019</li>
            </ul>
         </section>
           
         <section>
            <h2>Sección de ofertas</h2>
            <img width="300" src="imagenes/cafetera.jpg">
            <ul>
                <li>$60.000</li>
                <li>15% off</li>
                <li>Cafetera eléctrica Liliana</li>
            </ul>
         </section>
     </main>

   <br>
   <footer>
     <section>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </section>
     <br>
     <section>
        <h3>Envío gratis desde $2500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     </section>
     <br>
     <section>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </section>
     <br>
     <section>
        <h3>Copyright© 1999-2020 MercadoLiebre S.R.L</h3>
     </section>

   </footer>

</body>