<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d6e069fb65.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="menu-cabecera">
      <div class="menu-cabecera-primero">
         <img width="190"  src="imagenes/logoo.svg" class="logo">
         <h2 class="opciones-cabecera">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
         </h2>
      </div>

      <a href="boton-hamburguesita">
         <i class="fas fa-bars"></i>
      </a>

         <nav class="listas-menu-cabecera-barra">
            <ul class="lista-izquierda">
              <li><a href=""  class="link-navegacion">Ofertas</a></li>
              <li><a href=""  class="link-navegacion">Tiendas oficiales</a></li>
              <li><a href=""  class="link-navegacion">Vender</a></li>
              <li><a href=""  class="link-navegacion">Ayuda</a></li>
            </ul>

            <ul class="lista-derecha">
               <li><a href=""  class="link-navegacion">Creá tu cuenta <i class="fa-solid fa-user-plus"></i></a></li>
               <li><a href=""  class="link-navegacion">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
               <li><a href=""  class="link-navegacion">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
         </nav>
      <div>
         <input type="search" id="site-search" name="q">
         <button>Buscar</button>
      </div>

   </header>


     <main>
         <div class="contenedor">
            <div>
            
            <img class="imagen-mac" src="imagenes/macbook.jpg">
            <h2>Basado en tu última visita</h2>
            <ul>
                <li>$990.000</li>
                <li>15% off</li>
                <li>MacBook Pro 2019</li>
            </ul>
            </div>
         
           
            <div>
            
            <img class="imagen-cafetera" src="imagenes/cafetera.jpg">
            <h2>Sección de ofertas</h2>
            <ul>
                <li>$60.000</li>
                <li>15% off</li>
                <li>Cafetera eléctrica Liliana</li>
            </ul>
            </div>

         </div>
     </main>

   <br>
   <footer>
     <nav>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     </nav>
     <br>
     <nav>
        <h3>Envío gratis desde $2500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     </nav>
     <br>
     <nav>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
     </nav>
     <br>
     <nav>
        <h3>Copyright© 1999-2020 MercadoLiebre S.R.L</h3>
     </nav>

   </footer>

</body>