 * {box-sizing: border-box
}

body{
    font-family: sans-serif;
}

.menu-cabecera{
    background-color: rgb(236, 236, 45);
    padding: 15px;
}

.boton-hamburguesita{
    background-color: blue;
    color:white;
    display: block;
    margin: auto;
    padding:5px;
}

.logo{
    width: 190px;
}

.escrituras-cabecera{
    font-weight: 100;
    text-align: center;
}


.listas-menu-cabecera-barra ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.listas-menu-cabecera-barra a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 1px;
    font-size: 15px;
}


input,
label {
    margin: 0.4rem 0;
    margin: 18px;
}

.contenedor{
    display: flex;
    justify-content: center;
   
    
}

.imagen-mac{
    width: 300px;
    height: 250px;
    margin-right: 10px;
}

.imagen-cafetera{
    width: 350;
    height: 250px;
    margin-left:10px;
}

@media (min-width: 760px) {
    .menu-cabecera-primero{
        display: flex;
        justify-content: space-between;

    }
    .escrituras-cabecera{
        max-width: 350px;
        text-align: right;
    }
    .listas-menu-cabecera-barra{
        display: flex;
        justify-content: space-between;
    }.listas-menu-cabecera-barra ul{
        display: flex;
    }
    .listas-menu-cabecera-barra li{
        margin: 5px;
    } 
}

@media (min-width: 1200px) {
    .menu-cabecera, .listas-menu-cabecera-barra {
       max-width: 1900px;
       margin: 10px
    }
    .opciones-cabecera{
        max-width: none;
        font-size: 18px;
        font-weight: 400px;
    }
    .menu-cabecera-primero{
        margin-top: 40px;
    }

    .listas-menu-cabecera-barra li{
        margin: 0 10px;
    }
    .listas-menu-cabecera-barra a{
        font-size: 19px;
    }

}


 
 
 